[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/forge/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
